input[type="checkbox"], input[type="radio"] {
    margin: unset;
}

input.input-error, input.input-error:hover, input.input-error:focus {
    @apply border-1 border-red-700 shadow-[0_0_0_1px_red] outline outline-2 outline-transparent ring-red-700
}

.search-box {
    width: 100%;
    position: relative;
}

.search-box input {
    border-radius: 15px;
    padding: 0 0 0 40px;
    height: 35px;
    width: 100%;
    font-size: small;
    background: #f0f0f1;
    color: #c2353c;
    border: none;
}
.right-search-bar {
    top: 13px;
    position: absolute;
    right: 0;
}
.search-box input:focus {
    background: #e7e7e8;
    box-shadow: 0 0 0 0 transparent;
}
.search-box .search-bar-btn {
    font-weight: bold;
    padding: 3px 16px;
    border-radius: 11px;
    cursor: pointer;

}
.search-box .search-bar-btn.search {
    color: white;
    background: #e76a70;

}
.search-box .search-bar-btn.clear {
    color: #746e6f;
}
.settings-label {
    @apply font-medium text-sm text-gray-700 dark:text-white
}

.settings-title {
    @apply text-lg font-bold dark:text-white
}

