@layer components {
    .theme-toggle {
        @apply px-4 py-1 rounded-md text-sm bg-gray-200 text-gray-800 dark:bg-gray-700 dark:text-gray-100
        hover:bg-gray-300 dark:hover:bg-gray-600 transition;
    }

    .slider {
        @apply bg-gray-300 dark:bg-gray-600;
    }

    .slider span {
        @apply w-4 h-4 bg-yellow-400 dark:bg-gray-800;
    }
}
.dark body{
    background: #1d2327;
}
.dark body h1 , h2 , h3 , h4 , h5, h6{
    color: white;
}
a:focus, a:focus .media-icon img, a:focus .plugin-icon, .wp-person a:focus .gravatar {
    box-shadow: 0 0 0 0;
    outline: none;
}
a[aria-current="page"] {
    color: white;
}
a{
    color: black;
}
a:not([aria-current="page"]):hover {
    color: var(--color-primary-dark);
}
#toplevel_page_brutefort .wp-menu-image:before {
    display: none !important;
}